# Project exclude paths
/.gradle/
/build/
.idea/
/.kotest
/bin/
/lib/
/out/

# Old credentials config file
arisa.yml
/config/local.yml

# Files and folders created when running Arisa
/logs/
last-run
lastrun.json
helper-messages.json
mc-mappings/
