arisa:
  issues:
    projects:
      - MC
      - MCTEST
      - MCPE
      - MCL
      - MCD
      - BDS
      - REALMS
      - WEB
    resolutions:
      - Awaiting Response
      - Cannot Reproduce
      - Done
      - Duplicate
      - Fixed
      - Incomplete
      - Invalid
      - Unresolved
      - Won't Fix
      - Works As Intended
    url: https://bugs.mojang.com/

  customFields:
    linked: customfield_11100
    chkField: customfield_10701
    confirmationField: customfield_10500
    dungeonsPlatformField: customfield_12400
    mojangPriorityField: customfield_12200
    triagedTimeField: customfield_12201
    platformField: customfield_10402

  privateSecurityLevel:
    default: '10318'
    special:
      MCL: '10502'

  modules:
    attachment:
      extensionBlacklist:
        - '.jar'
        - '.exe'
        - '.0xe'
        - '.com'
        - '.bat'
        - '.msi'
        - '.dmg'
        - '.img'
        - '.smi'
        - '.run'
        - '.lnk'
        - '.inf'
        - '.reg'
        - '.url'
        - '.pdf'
        - '.doc'
        - '.docx'
        - '.odt'
        - '.sh'
        - '.command'
        - '.cmd'
        - '.workflow'
        - '.app'
        - '.ipa'
        - '.apk'
        - '.pkg'
        - '.scpt'
        - '.applescript'
        - '.cpgz'
        - '.iso'
        - '.action'
        - '.saver'
        - '.definition'
        - '.esh'
        - '.isu'
        - '.prg'
        - '.qit'
        - '.ws'
        - '.wsf'
        - '.scr'
        - '.application'
        - '.vb'
        - '.vbs'
        - '.vbe'
        - '.vbscript'
        - '.ps1'
        - '.ps1xml'
        - '.ps2'
        - '.ps2xml'
        - '.psc1'
        - '.psc2'
        - '.msh'
        - '.msh1'
        - '.msh2'
        - '.mshxml'
        - '.msh1xml'
        - '.msh2xml'
        - '.scf'
        - '.bundle'
        - '.dylib'
        - '.rtf'
        - '.pptx'
        - '.sys'
      comment: attach-new-attachment

    duplicateMessage:
      resolutions:
        - Duplicate
      commentDelayMinutes: 5
      message: duplicate
      forwardMessage: duplicate-forward
      ticketMessages:
        MC-108: duplicate-of-mc-108
        MC-297: duplicate-of-mc-297
        MC-128302: duplicate-of-mc-128302
        MCL-5638: duplicate-of-mcl-5638
      privateMessage: duplicate-private
      preventMessageTags:
        - ARISA_NO_DUPLICATE_MESSAGE
        - ARISA_NO_DUPE_MESSAGE
        - ARISA_NO_DUPLICATE_MSG
        - ARISA_NO_DUPE_MSG
      resolutionMessages:
        Fixed: duplicate-fixed
        Works As Intended: duplicate-wai
        Won't Fix: duplicate-wf

    piracy:
      projects:
        - MC
        - MCL
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed
        - Resolved
      message: pirated-minecraft
      piracySignatures:
        - Minecraft Launcher null
        - Bootstrap 0
        - 'Launcher: 1.0.10  (bootstrap 4)'
        - 'Launcher: 1.0.10  (bootstrap 5)'
        - Launcher 3.0.0
        - 'Launcher: 3.1.0'
        - 'Launcher: 3.1.1'
        - 'Launcher: 3.1.4'
        - uuid sessionId
        - auth_access_token
        - keicraft
        - keinett
        - nodus
        - iridium
        - mcdonalds
        - uranium
        - divinity
        - gemini
        - mineshafter
        - Team-NeO
        - DarkLBP
        - Launcher X
        - PHVL
        - Pre-Launcher v6
        - LauncherFenix
        - TLauncher

    privacy:
      message: panel-mark-private
      commentNote: |-

        ----
        Restricted by PrivacyModule ??[~arisabot]??
      allowedEmailRegex:
        - '^(mailer-daemon|postmaster|nobody|noreply|no-reply|hostmaster|usenet|news|webmaster|www|abuse|noc|security|info|support|uucp|ftp|news|admin|root)@.*'
        - '.*@(mojang.com|microsoft.com|minecraft.net|zendesk.com)$'
      sensitiveFileNames:
        - launcher_accounts.json
        - launcher_msa_credentials.json
        - launcher_profiles.json

    removeTriagedMeqs:
      resolutions:
        - Unresolved
      meqsTags:
        - MEQS_WAI
        - MEQS_WONTFIX
        - MEQS_TRIAGE
      removalReason: Ticket has been triaged.

    futureVersion:
      message: provide-affected-versions
      panel: panel-future-version

    chk:
      projects:
        - MC
        - MCPE
        - MCL
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed

    confirmParent:
      projects:
        - MC
        - MCL
        - MCPE
        - REALMS
      excludedStatuses:
        - Postponed
      resolutions:
        - Unresolved
      confirmationStatusWhitelist:
        - Unconfirmed
        - Plausible
      targetConfirmationStatus: Community Consensus
      linkedThreshold: 3

    multiplePlatforms:
      projects:
        - MCD
        - MCPE
      resolutions:
        - Unresolved
      dungeonsPlatformWhitelist:
        - Nintendo Switch
        - PlayStation 4
        - PlayStation 5
        - Windows
        - Xbox Cloud Gaming
        - Xbox One
        - Xbox Series S
        - Xbox Series X
      platformWhitelist:
        - Amazon
        - Android
        - Gear VR
        - iOS
        - Nintendo Switch
        - PlayStation 4
        - Windows 10 - PC
        - Windows 10 Mobile
        - Xbox
      targetPlatform: Multiple
      transferredPlatformBlacklist:
        - None
      keepPlatformTag: MEQS_KEEP_PLATFORM

    keepPlatform:
      projects:
        - MCD
        - MCPE
      resolutions:
        - Unresolved
      keepPlatformTag: MEQS_KEEP_PLATFORM

    reopenAwaiting:
      resolutions:
        - Awaiting Response
      blacklistedRoles:
        - helper
        - staff
        - global-moderators
      blacklistedVisibilities:
        - helper
        - staff
        - global-moderators
      softARDays: 365
      keepARTag: MEQS_KEEP_AR
      onlyOPTag: ARISA_REOPEN_OP
      message: not-reopen-ar

    removeNonStaffTags:
      removalReason: Comment was not properly staff-restricted.
      removablePrefixes:
        - MEQS
        - ARISA

    empty:
      projects:
        - MC
        - MCL
        - MCTEST
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed
      message: incomplete

    command:
      commandPrefix: $ARISA

    removeVersion:
      resolutions:
        - Cannot Reproduce
        - Duplicate
        - Fixed
        - Incomplete
        - Invalid
        - Works as Intended
        - Won't Fix
      message: panel-removed-version

    crash:
      projects:
        - MC
        - MCL
        - MCTEST
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed
      crashExtensions:
        - txt
        - log
      duplicateMessage: duplicate-tech
      moddedMessage: modified-game
      duplicates:
        - type: minecraft
          exceptionRegex: Pixel format not accelerated
          duplicates: MC-297
        - type: minecraft
          exceptionRegex: No OpenGL context found in the current thread
          duplicates: MC-297
        - type: minecraft
          exceptionRegex: Could not create context
          duplicates: MC-297
        - type: minecraft
          exceptionRegex: 'WGL: The driver does not appear to support OpenGL'
          duplicates: MC-128302
        - type: minecraft
          exceptionRegex: failed to create a child event loop
          duplicates: MC-34749
        - type: minecraft
          exceptionRegex: Failed to check session lock, aborting
          duplicates: MC-10167
        - type: minecraft
          exceptionRegex: Maybe try a lowerresolution texturepack
          duplicates: MC-29565
        - type: minecraft
          exceptionRegex: try a lowerresolution
          duplicates: MC-29565
        - type: java
          exceptionRegex: 'ig[0-9]{1,2}icd[0-9]{2}\.dll'
          duplicates: MC-32606

    revokeConfirmation:
      projects:
        - MC
        - MCL
        - MCPE
        - BDS
        - MCD
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed

    keepPrivate:
      tag: MEQS_KEEP_PRIVATE
      message: panel-unmark-private-issue

    privateDuplicate:
      resolutions:
        - Duplicate
      tag: MEQS_KEEP_PRIVATE

    language:
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed
      apiQuotaWarningThreshold: 10.0
      allowedLanguages:
        - en
        - nl
      message: report-not-in-english-bot
      lengthThreshold: 80

    hideImpostors:

    removeSpam:
      patterns:
        - pattern: '\[~'
          threshold: 5

    resolveTrash:
      projects:
        - TRASH
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed

    updateLinked:
      projects:
        - MC
        - MCPE
        - MCL
        - MCD
        - BDS
        - REALMS
        - WEB
      resolutions:
        - Unresolved
      excludedStatuses:
        - Postponed
      updateIntervalHours: 24

    transferVersions:
      resolutions:
        - Duplicate

    transferLinks:
      resolutions:
        - Duplicate

    replaceText:

    thumbnail:
      # For the rationale for this value, see https://github.com/mojira/arisa-kt/issues/165#issuecomment-660259465
      maxImageWidth: 759
      maxImageHeight: 600
